<!doctype html>
<html lang="en">
  <head>
      <%- include("../layouts/head"); -%>
   
  </head>
  <body style="background-color:#95F0D3;">
    <%- include("../layouts/navbar"); -%>


    
    
    <%- include("../layouts/scripts"); -%>
  </body>
</html>